.section {
    margin : 10px 0px;
    background-color: white;
    box-shadow: 0 px 0 px 5px #ddd;
    
}

.section_header {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    padding: 20px;
    margin: 0;

}

.section__body {
    padding: 20px; 
}